tests/output/metadetect_catalog_noshear.parquet filter=lfs diff=lfs merge=lfs -text
tests/output/metadetect_catalog_1m.parquet filter=lfs diff=lfs merge=lfs -text
tests/output/metadetect_catalog_1p.parquet filter=lfs diff=lfs merge=lfs -text
tests/output/metadetect_catalog_2m.parquet filter=lfs diff=lfs merge=lfs -text
tests/output/metadetect_catalog_2p.parquet filter=lfs diff=lfs merge=lfs -text
tests/data/output_00_00.fits filter=lfs diff=lfs merge=lfs -text
